/*
Theme Name: NewsPress Lite
Theme URI: http://d5creation.com/theme/newspress

Author: D5 Creation
Author URI: http://d5creation.com/

Description: NewsPress is a Multipurpose WordPress Theme. The best use can be operating News Media, News Paper, Online News Agency etc.  Multi Layer Slider will give extra impression to your readers. Easy and Flexible NewsPress Theme is fully RESPONSIVE which can be fit within any screen of devices. NewsPress Extend is one of the most popular News Themes. You can find the Demo Here: http://demo.d5creation.com/themes/?theme=NewsPress

Version: 1.9

Tags: two-columns, right-sidebar, blog, news, photography, entertainment, education, custom-header, custom-background, custom-menu, threaded-comments, sticky-post, full-width-template, theme-options, translation-ready, featured-images, footer-widgets, rtl-language-support

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

NewsPress Lite WordPress Theme, Copyright 2014-2017: D5 Creation (www.d5creation.com)
NewsPress Lite is distributed under the terms of the GNU GPL

Text Domain: newspress-lite

*/
@media screen and (min-width:500px) {

}

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

caption, th, td {
	text-align: right;
}

/* =WordPress Core and Addition
-------------------------------------------------------------- */
.alignnone,
#content .alignnone,
#content-full .alignnone,
div .alignnone {
	margin: 5px 0 20px 20px;
}

.alignleft,
#content .alignleft,
#content-full .alignleft,
div .alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}

.alignright,
#content .alignright,
#content-full .alignright,
div .alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

a img.alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}

a img.alignnone {
	margin: 5px 0 20px 20px;
}

a img.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

a img.aligncenter {
	margin-right: auto;
	margin-left: auto;
}

.wp-caption.alignnone {
	margin: 5px 0 20px 20px;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

/* =Structure
----------------------------------------------- */

#top-menu-container #searchform {
	float: left;
}

#top-menu-container #searchsubmit {
	margin: 0 -5px 0 -1px;
}

#content {
	float:right;
}

.fsubheading {
	float: right;
}

.special-cat-sub {
	float: right;
	padding-left: 4%;
	padding-right: 0;
}

.fpage-catg {
	float: right;
}

#left-sidebar {
	float: left;
}

#social {
	float: left;
	margin-left: 20px;
	margin-right: auto;
}

#social a {
	margin-right: 5px;
	margin-left: auto;
}

#creditline {
	text-align: right;
}

/* Common Elements 
------------------------------------------------------------- */
ol, 
ul {
	padding: 0 20px 10px 0;
}

address {
	text-align: left;
}

/* Menu Elements 
------------------------------------------------------------- */

#newspress-top-menu {
	float: right;
	border-right: 1px solid #111111;
	border-left: 1px solid #555555;
}

#newspress-top-menu li {
	float: right;
}

#newspress-top-menu li a {
	border-right: 1px solid #555555;
	border-left: 1px solid #111111;
}

#newspress-main-menu {
	float: right;
	background-image: -webkit-gradient( linear, right top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #CCCCCC), color-stop(1, #F6F6F6) );
}

#newspress-main-menu ul {
	border-right: 1px solid #DDDDDD;
	border-left: none;
}

#newspress-main-menu li {
	float: right;
}

#newspress-main-menu a {
	border-left: 1px solid #DDDDDD;
	border-right: none;
}

#newspress-main-menu li ul {
	float: right;
}

#newspress-main-menu ul ul, 
.sub-menu, .sub-menu ul ul {
	float: right;
	right: 0;
	border-right: none;
	left: auto;
	border-left: none;
}

#newspress-main-menu ul ul ul {
	right: 100%;
	left: auto;
}

#newspress-main-menu ul ul a {
	text-align: right;
	border-right: none;
	border-left: none;
}

#newspress-main-menu .menu-item-has-children a, #newspress-main-menu .page_item_has_children a {
	padding-left: 25px;
	padding-right: 0;
}

#newspress-main-menu li.menu-item-has-children a:after, #newspress-main-menu li.page_item_has_children a:after {
	left:0;
	right: auto;
}

/* Wedget Elements 
------------------------------------------------------------- */

.widget ul,
.widget ol {
	margin-right: 15px;
	margin-left: auto;
}

#left-sidebar .widget {
	float: left;
}

#left-sidebar .widget h3, h3.fpgal-title {
	text-align: right;
}

#footer-sidebar .first-widget {
	float:right;
}

#footer-sidebar .widgets {
	margin-right:2%;
	float:right;
	margin-left: auto;
}

.widget li {
	padding: 3px 5px 3px 0;
}

/* Design Elements 
------------------------------------------------------------- */

button,
input[type="reset"],
input[type="button"],
input[type="submit"],
#respond .form-submit input#submit,
#wp-submit {
	background-image: -webkit-gradient( linear, right top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #CCCCCC), color-stop(1, #F6F6F6) );
}

blockquote:before {
	margin-left:.20em;
	margin-right: auto;
}

blockquote:after {
	margin-right:.20em;
	margin-left: auto;
}

#content .attachment-post-page,
#content .attachment-post-thumbnail,
#content .attachment-single-page,
#content .attachment-cat-page, .fi-full-width, .fi-full-width-cat {
	float: right;
	margin: 5px 0 5px 10px;
}

.mostdis {
	float: left;
	margin-right: 10px;
	margin-left: auto;
}

h1.page-title, 
h1.page-title a,
h1.arc-post-title {
	text-align: right;
}

h2.post-title, 
h2.comments, 
h3#reply-title, 
h2.post-title-color {
	text-align: right;
}

.read-more:after {
	margin: -13px 7px 0 0;
}

.fccontainer .read-more:after, .fpage-catspecial .read-more:after {
	margin: -10px 7px 0 0;
}

.rarrow {
	border-right: 13px solid #F90909;
	border-left: none;
}

.fpgcontainert .read-more:after {
	margin: -13px 7px 0 0;
}

.post-edit-link:before {
	margin-left: 10px;
	margin-right: auto;
}

.post-tag, .post-category, .post-comments {
	margin-left: 20px;
	margin-right: auto;
}

.floatright {
	float: right;
	text-align:right;
}

.floatleft {
	float: left;
	text-align:left;
}

#page-nav .alignleft {
	text-align:left;
}

#page-nav .alignright {
	text-align:right;
}

/* D5 CORPORATE GREEN CSS */

blockquote {
	border-right: 10px solid #DDDDDD;
	border-left: 10px solid #DDDDDD;
}

#commentsbox img.avatar {
	right: 0;
	left: auto;
}

.comment-body:after {
	border-left: 15px solid #FFFFFF;
	margin: 0 -25px 0 0;
	border-right: none;
}

#commentsbox .commentlist li.comment {
	padding:20px 115px 0 0;
}

.comment-edit-link {
	float: left;
}

#commentsbox .commentlist .children li {
	margin:0 -25px 0 0;
}

#respond .required {
	margin-right: 5px;
	margin-left: auto;
}

ul.lboxd {
	float:left;
}

a.loginicon::before, a.loginicon:hover::before {
	float:left;
}

ul.lboxd ul {
	padding:20px 20px 20px 40px;
	left:-20px;
	right: auto;
}

.go-top {
	left: 10px;
	right: auto;
}

.go-top::before {
	float: left;
}

.fpgallery {
	margin: 1% 2% 1% 0;
	float: right;
}

.fpgcontainer {
	float: right;
}

.fpgcontainert {
	float: left;
}

.fpmost-read {
	margin: 1% 0 0 2%;
	float: left;
}

.fpec {
	margin: 1% 2% 0 0;
	float: right;
}

.fpmost-read .bx-wrapper .bx-viewport {
	right: -10px;
	left: auto;
}

.fpgallery .bx-wrapper .bx-viewport {
	right: -10px;
	left: auto;
}

.fpgallery .bx-wrapper .bx-caption span {
	padding: 5px 10px 5px 30px;
}

.fpec .bx-wrapper .bx-viewport {
	right: 0;
	left: auto;
}

#left-sidebar li.cat-item, #left-sidebar .menu li {
	float: right;
	margin-left: 3%;
	margin-right: auto;
}

/* Text meant only for screen readers. */

.screen-reader-text:focus {
	right: 5px;
	left: auto;
}

