/*
Theme Name: NewsPress Lite
Theme URI: http://d5creation.com/theme/newspress

Author: D5 Creation
Author URI: http://d5creation.com/

Description: NewsPress is a Multipurpose WordPress Theme. The best use can be operating News Media, News Paper, Online News Agency etc.  Multi Layer Slider will give extra impression to your readers. Easy and Flexible NewsPress Theme is fully RESPONSIVE which can be fit within any screen of devices. NewsPress Extend is one of the most popular News Themes. You can find the Demo Here: http://demo.d5creation.com/themes/?theme=NewsPress

Version: 1.9

Tags: two-columns, right-sidebar, blog, news, entertainment, education, custom-header, custom-background, custom-menu, threaded-comments, sticky-post, full-width-template, theme-options, translation-ready, featured-images, footer-widgets, rtl-language-support

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

NewsPress Lite WordPress Theme, Copyright 2014-2017: D5 Creation (www.d5creation.com)
NewsPress Lite is distributed under the terms of the GNU GPL

Text Domain: newspress-lite

*/
@media screen and (min-width:500px){ 
@font-face {
	font-family: 'Genericons';
	src: url('fonts/genericons/genericons-regular-webfont.eot');
	src: url('fonts/genericons/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/genericons/genericons-regular-webfont.woff') format('woff'),
	     url('fonts/genericons/genericons-regular-webfont.ttf') format('truetype'),
	     url('fonts/genericons/genericons-regular-webfont.svg#genericonsregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
}
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}

body {
	line-height: 1;
}

ol, 
ul {
	list-style: none;
}

table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: "";
}

blockquote, 
q {
	quotes: "" "";
}

a img {
	border: 0;
}

article, 
aside, 
details, 
figcaption, 
figure,
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
	display: block;
}


/* =WordPress Core and Addition
-------------------------------------------------------------- */
.alignnone,
#content .alignnone,
#content-full .alignnone,
div .alignnone  {
    margin: 5px 20px 20px 0;
}

.aligncenter,
#content .aligncenter, 
#content-full .aligncenter,
div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright,
#content .alignright,
#content-full .alignright,
div .alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft,
#content .alignleft,
#content-full .alignleft,
div .alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #EEEEEE;
    border: 1px solid #FFFFFF;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size:12px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}

/* =Structure
----------------------------------------------- */

body {
	font-family: Arial, Helvetica, Genericons, sans-serif;
    font-size: 14px;
    line-height: 1.6;
	background: #FFFFFF;
    color: #555555;
	min-width: 1250px;
}


img {
	max-width: 100%;
	border: 0 none;
}

#site-container {
    margin: 0 auto;
    width: 90%;
	background: #F6F6F6;
    box-shadow: 0 0 3px 0 #555555;
}

#container, #header {
    margin: 0 auto;
    padding: 0 2%;
    width: 96%;
}

#top-menu-container {
    height: 30px;
    padding: 7px 2%;
    width: 96%;
}
#top-menu-container #searchform { float: right; }
#top-menu-container #searchsubmit {
background: url("images/search.png") no-repeat scroll center center #111111; border-radius: 0 5px 5px 0; font-size: 14px; font-weight: normal;
padding: 6px 20px;  text-indent: -90000px; margin: 0 -1px 0 -5px; box-shadow: none; height: 30px;
}
#top-menu-container input#s {
background: #555555;
border-color:#111111 transparent #777777 #777777;
top: -1px;
padding: 5px 10px; width: 120px; min-width: 100px; border-radius: 5px 0 0 5px;  -webkit-transition-duration: 400ms; -webkit-transition-property: width, background; -webkit-transition-timing-function: ease; -moz-transition-duration: 400ms; -moz-transition-property: width, background; -moz-transition-timing-function: ease; -o-transition-duration: 400ms; -o-transition-property: width, background; -o-transition-timing-function: ease; width: 72px; color: #AAAAAA;
}
#top-menu-container input#s:focus { width: 150px; color: #EEEEEE; background: #777777; }

#header {
	min-height: 100px;
}

#header-content {
	display:table;
	width: 100%;
}

img.site-logo, h1.site-title {
	font-size: 80px;
    font-weight: bold;
    max-height: 90px;
    max-width: 400px;
    padding: 5px 0;
	margin: 0 auto;
	display:block;
	text-align: center;
	color: #F90909;
    text-shadow: 0 0 0 #DDDDDD, 1px 1px 0 #DDDDDD, 2px 2px 1px rgba(0, 0, 0, 0.75), 2px 2px 1px rgba(0, 0, 0, 0.5), 0 0 1px rgba(0, 0, 0, 0.2);
}
.topadlft {
	width: 250px;
	display:table-cell;
	vertical-align: middle;
	padding: 7px 0 0;
}

.topadrt {
	width: 250px;
	display:table-cell;
	vertical-align: middle;
	padding: 7px 0 0;
}

.site-title-hidden {
	display: none;
}

.heading-date {
	font-size: 20px;
    font-weight: 300;
    padding: 5px 5px 10px;
    text-align: center;	
	font-family:'Oswald',Impact,Helvetica,sans-serif;
}

#headersep {
	height: 3px;
    margin: 20px -20px;
}

#content {
	float:left;
    width: 70%;
}

#content-full { width: 100%; }

.content-ver-sep {
	clear: both;
    height: 1px;
}

.fsubhcontainer {
    margin: 0 -3%;
    width: 106%;
}

.fsubheading {
    border-top: 2px solid #CCCCCC;
    float: left;
    min-height: 200px;
    margin: 0 3% 10px;
    overflow: hidden;
    width: 44%;
	padding-top: 10px;
}

.fsubheading p { margin-bottom: 0px; }
.fsubheading h2.post-title {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 0px;
	padding-bottom: 0px;
}
.breakingnews { background:#FFFFFF; width: 100%; margin-bottom: 10px; border-bottom: 1px solid #F90909; }
.fpage-catspecial { margin: 10px 0 20px;; line-height: 1.15; }
.special-cat-sub { width: 30%; float: left; padding-right: 4%;  }
.fccontainer { margin: 0 -2%; width: 104%; }
.fccontainer a, .fsubheading a, .fpheading a, .fpage-catspecial a { color: #555555; }
.fccontainer h3.fcpt, .fpheading h1.page-title, .fpage-catspecial h3.fcpt  { font-weight: 300; text-transform: uppercase; }
.fccontainer h3.fcpt:hover, .fccontainer li a:hover, .fsubheading h2.post-title:hover, .fpheading h1.page-title:hover, .fpage-catspecial h3.fcpt:hover, .fpage-catspecial li a:hover, .ticker-title, .ticker-content a:hover   { color: #F90909; }
.fccontainer .read-more, .fsubheading .read-more, .fpheading .read-more, .fpage-catspecial .read-more, h2.post-title a:hover { color: #F90909; }
.fpage-cat { margin: 5px 2% 15px; width: 20.65%; line-height: 1.15; padding-top: 3px; overflow:hidden; vertical-align: top; display: inline-block; } 
.fpage-catg { float: left; margin: 5px 2% 15px; width: 29.3%; line-height: 1.15; padding-top: 3px; overflow:hidden; } 
.fpage-catg span { color: #F90909; display: block; font-size: 17px; font-weight: bold; line-height: 2; padding: 10px; position: relative; transition:all 1.5s; -moz-transition:all 1.5s; -o-transition:all 1.5s; -webkit-transition:all 1.5s; }
.fpage-catg span:hover { background: rgba(0, 0, 0, 0.3); color: #FFFFFF; }
h2.fcname { background: #777777; color: #FFFFFF; font-size: 17px; font-weight: 300; padding: 7px 5px;     text-shadow: none; text-transform: uppercase; text-align: center; }
h3.fcpt a { color: #333333; font-size: 20px; font-weight: 300; padding: 3px 0; }
h4.fcpt a { font-size: 15px; font-weight: 300; font-family: Arial,Helvetica,sans-serif; }
h4.fcpt li { list-style: square inside none; }
.fpage-cat img { height: auto; }

#right-sidebar {
	float: right;
	width: 25%;
}

#footer {
	clear: both;
	background: #333333;
    border-top: 3px solid #F90909;
}

#footer-content {
	width: 96%;
	margin: 0 auto;
}


#social {
	display: table;
    float: right;
    height: 20px;
    margin-right: 20px;
}

#social a {
	display:  inline-block;
	position: relative;	
	background: #000000;
	border-radius: 50px;
	margin-left: 5px;
}

#social a::before {
	content:        '\f408';
	display:        inline-block;
	padding:        0 7px;
	font-family:    'Genericons';
	font-size:      20px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}

#social a:hover:before {
	font-size:      21px;
}
#social a[href*="wordpress.org"]::before,
#social a[href*="wordpress.com"]::before {
	content: '\f205';
	color:   #09b6db;
}
#social a[href*="dribbble.com"]::before {
	content: '\f201';
	color:   #ea4c89;
}
#social a[href*="github.com"]::before {
	content: '\f200';
	color:   #555555;
}
#social a[href*="tumblr.com"]::before {
	content: '\f214';
	color:   #455afa;
}
#social a[href*="youtube.com"]::before {
	content: '\f213';
	color:   #F90909;
}
#social a[href*="flickr.com"]::before {
	content: '\f211';
	color:   #ff0084;
}
#social a[href*="vimeo.com"]::before {
	content: '\f212';
	color:   #1AB7EA;
}
#social a[href*="instagram.com"]::before {
	content: '\f215';
	color:   #05ace3;
}
#social a[href*="codepen.io"]::before {
	content: '\f216';
	color:   #555555;
}
#social a[href*="linkedin.com"]::before {
	content: '\f208';
	color:   #05ace3;
}


#footer-sidebar {
	overflow: hidden;
	padding: 20px 0 0;
}

#creditline {
    font-size: 13px;
    padding: 10px 20px;
    text-align: left;
	background: #111111;
    color: #EEEEEE;
    text-shadow: 0 0 1px #000000;
}

#creditline a {
	font-weight: bold;
}




/* Common Elements 
------------------------------------------------------------- */
ol, 
ul {
	padding: 0 0 10px 20px;
	display: block;
	margin-bottom: 10px;
}

ul {
	list-style: square outside none;
}

ol {
	list-style: decimal outside none;
}

strong {
	font-weight: bold;	
}

dl {
	margin: 0 0 24px 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 18px;
}

strong {
	font-weight: bold;
}

cite,
em,
i {
	font-style: italic;
}

big {
	font-size: 131.25%;
}

ins {
	background: #FFFFFF;
	text-decoration: none;
}

blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}

pre {
	background:#FFFFFF;
    border-radius: 5px 5px 5px 5px;
    color: #111111;
    line-height: 18px;
    margin-bottom: 18px;
    overflow: auto;
    padding: 1.5em;
}

abbr,
acronym {
	border-bottom: 1px dotted #777777;
	cursor: help;
}

sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
	font-size: 70%;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

address {
	background: #EEEEEE;
    border: 2px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 15px;
    max-width: 250px;
    padding: 5px 10px;
    text-align: right;
}

embed  {
	max-width: 100%;	
}

/* Menu Elements 
------------------------------------------------------------- */

#newspress-top-menu { display: block; float: left; max-width: 550px; border-left: 1px solid #111111; border-right: 1px solid #555555; }
#newspress-top-menu ul{ list-style: none outside none; padding:0; margin:0; }
#newspress-top-menu li{ position: relative; float: left; }
#newspress-top-menu li a{ font-size: 11px; padding: 4px 10px; text-decoration: none; text-transform: uppercase; border-left: 1px solid #555555; border-right: 1px solid #111111;    color: #AAAAAA; text-shadow: 0 0 1px #000000; }
#newspress-top-menu li a:hover { color: #DDDDDD; }
#newspress-main-menu {
    font-family: 'Oswald',Impact,Helvetica,sans-serif;
	float: left;
	width: 96%;
	padding: 0 2%;
	background: #CCCCCC;
	text-align: center;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #CCCCCC), color-stop(1, #F6F6F6) );
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #CCCCCC 100%, #F6F6F6 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #CCCCCC 100%, #F6F6F6 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #CCCCCC 100%, #F6F6F6 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #CCCCCC 100%, #F6F6F6 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #CCCCCC 100%, #F6F6F6 100%);
}

#newspress-main-menu ul {
    list-style: none outside none;
	padding: 0;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	border-left: 1px solid #DDDDDD;
}

#newspress-main-menu li {
    float: left;
    position: relative;
}


#newspress-main-menu a {
    display: block;
    font-size: 13px;
    padding: 10px 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
	color: #555555;
	border-right: 1px solid #DDDDDD;
	font-weight: 300;
}

#newspress-main-menu li ul {
    float: left;
    position: relative;
	margin: 0;
}

#newspress-main-menu ul ul, 
.sub-menu, .sub-menu ul ul {
    display: none;
	float: left;
    left: 0;
    position: absolute;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	z-index: 10000;
	background: #F90909;
	background: rgba(250, 10, 10, .3);
	border-bottom: 5px solid #111111;
	border-radius: 0 0 5px 5px;
	border-left: none;
}

#newspress-main-menu ul li ul li {
margin:0;
}

#newspress-main-menu ul ul ul {
    left: 100%;
    top: 0;
	z-index: 999;
}

#newspress-main-menu ul ul a  {
    padding: 5px 10px;
    width: 170px;
	text-align: left;
	text-transform: none;
	border-left: none;
	border-bottom: 1px dotted #BBBBBB;
	color: #EEEEEE;	
}

#newspress-main-menu ul li:hover > ul {
	display: block;
}

#newspress-main-menu a:hover, #newspress-main-menu .current-menu-item > a, #newspress-main-menu .selected a, 
#newspress-main-menu .current-menu-ancestor > a, 
#newspress-main-menu .current_page_item > a, 
#newspress-main-menu .current_page_ancestor > a {
    background: #F90909;
	background: rgba(250, 10, 10, .9);
	color: #EEEEEE;
}

#newspress-main-menu ul ul a:hover, 
#newspress-main-menu ul ul .current-menu-item > a, 
#newspress-main-menu ul ul .current-menu-ancestor > a, 
#newspress-main-menu ul ul .current_page_item > a, 
#newspress-main-menu ul ul .current_page_ancestor > a {
    background: #555555;
	background: rgba(85, 85, 85, .9);
}

#newspress-main-menu .menu-item-has-children a, #newspress-main-menu .page_item_has_children a { padding-right: 25px;  }
#newspress-main-menu li.menu-item-has-children a:after, #newspress-main-menu li.page_item_has_children a:after { content: "ˇ"; font-family: monospace,Lucida Console,Monaco; font-size: 40px; right:0; position: absolute; top: 3px;}
#newspress-main-menu li.menu-item-has-children ul li a:after, #newspress-main-menu li.page_item_has_children ul li a:after { content: "";}
#newspress-main-menu .menu-item-has-children ul li.menu-item-has-children a:after, #newspress-main-menu .page_item_has_children ul li.menu-item-has-children a:after { content: "›"; font-size: 20px; top: 0;}
#newspress-main-menu li.menu-item-has-children ul li.menu-item-has-children ul li a:after, #newspress-main-menu li.page_item_has_children ul li.menu-item-has-children ul li a:after { content: "";}
#newspress-main-menu .menu-item-has-children ul li.menu-item-has-children ul li.menu-item-has-children a:after, #newspress-main-menu .page_item_has_children ul li.menu-item-has-children ul li.menu-item-has-children a:after { content: "›"; font-size: 20px; top: 0;}
#newspress-main-menu li.menu-item-has-children ul li.menu-item-has-children ul li.menu-item-has-children ul li a:after, #newspress-main-menu li.page_item_has_children ul li.menu-item-has-children ul li.menu-item-has-children ul li a:after { content: "";}

/* Wedget Elements 
------------------------------------------------------------- */
.widget {
	display: block;
	word-wrap: break-word;
}

.widget ul,
.widget ol {
	padding: 0;
	margin-left: 15px;
}

#right-sidebar .widget {
	float: right;
	margin-bottom: 15px;
	min-width: 200px;
	width: 100%;
}

#right-sidebar .widget h3, h3.fpgal-title {
	padding: 5px;
    text-transform: uppercase;
	font-size: 17px;
	background: #F90909;
    color: #FFFFFF;
    text-align: left;
	font-weight: 300;
}

#right-sidebar .widget, 
#right-sidebar .widget li, 
#right-sidebar .widget a, 
#right-sidebar .widget a:hover {
	text-decoration: none;
} 


#footer-sidebar .widget {
	margin-bottom: 15px;
}

#footer-sidebar .first-widget {
	float:left;
	width: 35%;
	min-width: 200px;
	min-height: 1px;
}

#footer-sidebar .widgets {
	margin-left:2%;
	float:left;
	width: 19.65%;
	min-width: 150px;
	min-height: 1px;
}

#footer-sidebar .widget h3 {
	color: #BBBBBB;
    text-shadow: 1px 1px 1px #000000;
	font-weight: 300;
	text-transform: uppercase;
}

#footer-sidebar .widget, 
#footer-sidebar .widget li, 
#footer-sidebar .widget a, 
#footer-sidebar .widget a:hover {
	text-decoration: none;
} 

.widget li {
	list-style: square outside none;
    padding: 3px 0 3px 5px;
}

.textwedget {
	width: 100%;		
}

/* Design Elements 
------------------------------------------------------------- */
h1, h2, h2 a, h2 a:visited, h3, h4, h5, h6 {
	font-family: 'Oswald',arial,serif;
    font-weight: normal;
    line-height: 1.25;
    margin: 0 0 10px;
}

h1 {
	font-size: 30px;	
}

h2 {
	font-size: 23px;	
}

h3 {
	font-size: 20px;	
}

h4 {
	font-size: 17px;	
}

h5 {
	font-size: 15px;	
}

h6 {
	font-size: 13px;	
}

p {
	margin-bottom: 15px;
}

a {
	text-decoration:none;	
}

displaynone {
	display: none;
}

.clear {
	clear: both;
}

.clear-cat {
	clear: both;
}

center {
    display: block;
    text-align: center;
}

table {
	border-radius: 3px 3px 3px 3px;
    padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	min-width: 200px;
	margin-bottom: 15px;
	max-width: 100%;
}

td {
	padding: 5px 7px;
	vertical-align: top;
}

#wp-calendar td {
	padding: 0px 7px;
	color: #777777;
}

th { font-weight: bold; line-height: 1; padding: 5px 7px; }

table#wp-calendar { background: transparent; box-shadow: none; width: 100%; }
#wp-calendar caption { font-size: 17px; text-align: center; }
#wp-calendar a {  font-size: 15px; font-weight: bold;  }

button,
input[type="reset"],
input[type="button"],
input[type="submit"],
#respond .form-submit input#submit,
#wp-submit {
	border-radius:3px;
	display:inline-block;
	padding:13px;
	text-decoration:none;
	text-transform: uppercase;
	cursor:pointer;
	margin:0 7px;
	color:#777777;
	box-shadow: 0 0 3px 0 #777777;
	border:none;
	background: #F6F6F6;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #CCCCCC), color-stop(1, #F6F6F6) );
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #CCCCCC 100%, #F6F6F6 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #CCCCCC 100%, #F6F6F6 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #CCCCCC 100%, #F6F6F6 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #CCCCCC 100%, #F6F6F6 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #CCCCCC 100%, #F6F6F6 100%);
}

button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
#respond .form-submit input#submit:hover,
#wp-submit:hover {
	box-shadow: 0 0 5px 0 #111111;
	color: #333333;
	text-shadow: 1px 1px 1px #F6F6F6;
}

textarea, input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], .titlewrap input, select {
   	background: #EEEEEE;
    border-color: #BBBBBB #BBBBBB #FFFFFF #FFFFFF;
	border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    color: #777777;
    display: inline-block;
    min-width: 50%;
    padding: 13px 10px;
    position: relative;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="url"]:focus, .titlewrap:focus input:focus, select:focus {
   	background:#F6F6F6;
}

input[type="password"] {
    width: 200px;
}

button:active, 
input[type="reset"]:active, 
input[type="button"]:active, 
input[type="submit"]:active {
	position:relative;
	top:1px;
}


.post.sticky, 
.sticky {
	border-radius: 10px 10px 10px 10px;
    margin-bottom: 30px;
    padding: 15px;
}

.gallery-caption {
    background:#333333;
    clear: both;
    color: #AAAAAA;
    display: inline-block;
    margin: 0 auto;
    padding: 5px 10px;
    position: relative;
    width: 90%;
}

#content .gallery .attachment-cat-page { margin: 0 auto; width: 95%; float: none;  }
#content.single-image-show .attachment-single-page { background: #000000; display: block; float: none; margin: 20px auto; padding: 15px; width: 95%; }
.single-page-image p { display: block; padding: 10px; background: #FFFFFF; }
.single-page-image:hover > p { display: block; }

.bypostauthor {
}

#container, 
#content, 
#content-full {
	font-size: 14px;
	padding: 10px 0;
}

#content img, 
#content-full img {
	height: auto;
    margin: 0;
    max-width: 100%;
    vertical-align: middle;
}


#heading {
	font-size: 48px;
    margin: 0 0 40px;
    text-align: center;
    text-transform: uppercase;
}

blockquote {
	margin:20px 10px;
	padding:10px;
	quotes: quotes: '<<' '>>';
}

blockquote:before {
	content:'\201C';
	font-size:4em;
	line-height:.1em;
	margin-right:.20em;
	vertical-align:-.4em;

}

blockquote:after {
	content:'\201D';
	font-size:4em;
	line-height:.1em;
	margin-left:.20em;
	vertical-align:-.4em;
}

blockquote p {
	display:inline;
}

#content .attachment-post-page,
#content .attachment-post-thumbnail,
#content .attachment-single-page,
#content .attachment-cat-page, .fi-full-width, .fi-full-width-cat {
    float: left;
    margin: 5px 10px 5px 0;
    padding: 3px;
	border: 1px solid #CCCCCC;
}

.attachment-single-page, .attachment-post-page { width: 70%; }
.frnt-page .attachment-single-page, .frnt-page .attachment-post-page { width: 60%; }
.frnt-page .fpgallery .attachment-post-page { width: 60%; }

.fi-full-width { width: 99%; }
.fi-full-width-cat { width: 97%; }
.edchoice { width: 198px; height: 99px; }
.mostdis { width: 100px; height: 50px; float: right; margin-left: 10px; }


#content h1.vi-heading, .vi-heading, #content h1.vi-heading a, #content h2.vi-heading, #content h3.vi-heading, h4.vi-heading, #content h2.vi-heading a, #content h3.vi-heading a  { color: #F90909; font-weight: normal; }

h1.page-title, 
h1.page-title a,
h1.arc-post-title {
	font-size: 35px;
    text-transform: uppercase;
	text-align: left;
	color: #333333;
    text-shadow: -1px -1px 3px #FFFFFF;
}

.arc-content h1.arc-post-title { padding: 10px; background: #777777; text-shadow: 0 1px #111111; color: #FFFFFF; }
#content .page-404 { background: transparent; color: #F90909; }

.subtitle,
p.subtitle
#content p.subtitle  {
	color: #777777;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
	font-weight: 300;
}

h2.post-title, 
h2.comments, 
h3#reply-title, 
h2.post-title-color {
	font-size: 25px;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
}


.entrytext {
	padding: 3px 0;
}


h3.arc-src {
    color: #F90909;
    font-size: 20px;
    opacity: 0.75;
    text-transform: uppercase;
}

h3.arc-src span { color: #555555; }

.post,  .hentry,  .no-results { margin-bottom: 25px; }
.frnt-page .post, .arc-content .post { margin: 0px; }

.read-more, .fpgcontainert .read-more {
    display: table;
    font-family: oswald, Arial, Helvetica, sans-serif;;
    font-size: 13px;
	letter-spacing: 1px;
    font-weight: 350;
    padding: 5px 0;
    text-transform: uppercase;
}

.read-more:after {
	content: '›';
    font-size: 25px;
    margin: -13px 0 0 7px;
	position:absolute;
}

.fccontainer .read-more:after, .fpage-catspecial .read-more:after { margin: -10px 0 0 7px; z-index: 1; }
.cat-read-more, .fccontainer .cat-read-more, .fpage-catspecial .cat-read-more  { background: #F90909; color: #FFFFFF; padding: 5px 10px; display: inline-block;  }
.rarrow { border-bottom: 12px solid transparent; border-left: 13px solid #F90909; border-top: 12px solid transparent; display: inline-block; height: 0; position: relative; top: 6px; width: 0; }
.fpgcontainert .read-more:after { margin: -13px 0 0 7px; z-index: 1; }
.fpgcontainert .read-more { padding: 5px 10px; }

.post-author, .post-author a { color: #777777; font-size: 17px; }
.post-author a:hover, .post-meta a:hover { color: #F90909; }
.post-meta { border: 1px solid #DDDDDD; border-radius: 5px; padding: 5px; color: #555555; }
.post-meta a { color: #555555; }
.post-edit-link:before { content: '\f411'; font-size: 25px; margin-right: 10px; position: relative; top: 5px; }
.post-tag:before { content: '\f302'; font-size: 25px; position: relative; top: 5px; }
.post-category:before { content: '\f301'; font-size: 25px; position: relative; top: 7px; } 
.post-comments:before { content: '\f300'; font-size: 25px; position: relative; top: 7px; }
.post-tag, .post-category, .post-comments { margin-right: 20px; }

.floatleft {
	float: left;
	width: 45%;
	text-align:left;
}

.floatright {
	float: right;
	width: 45%;
	text-align:right;
}

#page-nav { clear:both; display: block; width: 94%; margin: 0 auto; }

#page-nav .alignright {
	text-align:right;
}

#page-nav .alignleft {
	text-align:left;
}

#page-nav a { border-radius: 5px; border: 1px solid #DDDDDD; background: #FFFFFF; font-size: 17px; padding: 10px; font-family:'Oswald',Impact,Helvetica,sans-serif; text-transform: uppercase;}

#page-nav a:hover { background: #111111; color: #AAAAAA; }


/* D5 CORPORATE GREEN CSS */

#top-menu-container {
    background: #333333;
}

#headersep {
    background: none repeat scroll 0 0 #CCCCCC;
    border-bottom: 2px solid #FFFFFF;
}
.content-ver-sep {
    background: none repeat scroll 0 0 #CCCCCC;
    border-bottom: 1px solid #FFFFFF;
}

#right-sidebar .widget, #right-sidebar .widget li, #right-sidebar .widget a { color: #333333; }
#footer-sidebar .widget, #footer-sidebar .widget li, #footer-sidebar .widget a { color: #BBBBBB; }
#right-sidebar .widget a:hover { color: #f90909; }
#footer-sidebar .widget a:hover { color: #FFFFFF; }
a { color: #f90909; }
table { background-color: #EEEEEE; border: 1px solid #FFFFFF; box-shadow: 0 0 5px 0 #DDDDDD; color: #333333; }
th { background: #CCCCCC; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); }
caption { color: #555555; }
.post.sticky, .sticky { background:#FFFFFF; border: 5px solid #DDDDDD; box-shadow: 0 0 5px 0 #555555; }
#content img, #content-full img { border: 1px solid #CCCCCC; }
blockquote { background: rgba(105, 195, 141, 0.35); border-left: 10px solid #DDDDDD; border-right: 10px solid #DDDDDD; }
blockquote:before { color: #111111; }
blockquote:after { color: #111111; }
h2.post-title, h2.comments, h3#reply-title, h2.post-title a, h2.comments a, h2.post-title-color { color: #555555; }
h1.notfound { background: #FFFFFF; color: #F90909; font-size: 70px; margin: 100px auto; padding: 30px; text-align: center; text-transform: uppercase; width: 50%; }
#commentsbox  {  margin-top: 20px; }
.comments { border-bottom: 1px solid #EEEEEE; font-weight: 300; }
#commentsbox a:hover {  color: #F90909; }
#commentsbox .commentlist{margin:0;}
#commentsbox .watermark{color:rgba(150, 150, 150, 0.7);font-size:17px;text-align:center;text-shadow:none;text-transform:uppercase;}
#commentsbox .comment-author cite,
#commentsbox .comment-author cite a{color:#777777;letter-spacing:3px;font-style:normal;font-weight:bold;}
#commentsbox img.avatar{border: 5px solid #FFFFFF; border-radius: 5px; box-shadow: 0 0 3px 0 #AAAAAA; height: 80px; left: 0; position: absolute; width: 80px;}
#commentsbox ul.children{padding:0;}
.comment-body{ background: #FFFFFF; border-radius: 5px; padding: 10px; box-shadow: 0 0 0 1px #DDDDDD;}
.comment-body:after { border-bottom: 15px solid transparent; border-right: 15px solid #FFFFFF; border-top: 15px solid transparent; content: ""; margin: 0 0 0 -25px; position: absolute; top: 60px; }
#commentsbox .commentlist li.comment{line-height:19px;margin:0 0 5px;padding:20px 0 0 115px;position:relative;}
#commentsbox .comment-meta,
#commentsbox .comment-meta a:link,
#commentsbox .comment-meta a:visited{color:#AAAAAA;font-size:12px;text-shadow:none;}
#commentsbox .comment-meta { border-bottom: 1px solid #EEEEEE; margin-bottom: 5px; }
.comment-edit-link { float: right; }
#commentsbox .commentlist .children li{list-style:none outside none;margin:0 0 0 -25px;}
#commentsbox .commentlist li:last-child{ist-style:none outside none;}
#comment-form{max-width:650px;  margin-top: 25px;}
#respond .required{color:#F90909;font-weight:bold;position:absolute;}
#commentsbox ol.commentlist, #commentsbox li.commentlist{padding:0;list-style:none;}
#comments-list #respond{margin:0 0 18px 0;}
#comments-list ul #respond{margin:0;}
#cancel-comment-reply-link{font-weight:normal;line-height:18px;}
#respond input{margin:0 0 9px; display: block; }
#respond .required { font-size: 17px; margin-left: 5px; }
#respond textarea{width:98%;}
#respond .form-allowed-tags{font-size:13px;line-height:18px;}
#respond .form-allowed-tags code{font-size:11px;}
#respond .form-submit{margin:12px 0;}
#respond .form-submit input{font-size:14px;width:auto;}

ul, li, img, a, p, ol, textarea, input, button, h1, h2, h3, h4, h5, h6 {transition:all 1.5s; -moz-transition:all 1.5s; -o-transition:all 1.5s; -webkit-transition:all 1.5s;} 
.bx-wrapper li, .bx-wrapper a, .breakingnews li, .breakingnews p { transition:none; -moz-transition:none; -o-transition:none; -webkit-transition:none; }
ul.lboxd{float:right;position:relative;font-size:14px;}
ul.lboxd h4 { font-weight: 300; }
ul.lboxd li{list-style:none;}
a.loginicon::before, a.loginicon:hover::before {content: '\f304'; display:block;float:right;margin:-15px 0 0; font-family:'Genericons'; font-size: 40px; color: #EEEEEE; padding: 0 10px; }
ul.lboxd ul{background:#DDDDDD;display:none;padding:20px 40px 20px 20px;position:absolute;right:-20px;margin-top: 30px;;width:200px;z-index:99999;}
.login-username input, .login-password input, .login-submit input, ul.lboxd button{display:block;position:relative;width:100%;}
ul.lboxd li:hover > ul{display:block;}
ul.lboxd label, label{display:inline-block;margin-bottom:5px;}
.go-top { position: fixed; bottom: 10px; right: 10px; display: none;  }
.go-top::before { content: '\f432'; font-family: 'Genericons'; float: right; background: #111111; border-radius: 50px; font-size: 25px; padding: 1px 9px; opacity: .7; }
.go-top:hover::before { opacity: .9; }
.fpgallery { margin: 1% 0 1% 2%; width: 70%; height: 30%; height: 30vw; float: left; display: inline-block;  }
.fpgcontainer { background: #FFFFFF; border: 1px solid #DDDDDD; border-radius: 5px; float: left; height: 30vw; overflow: hidden; width: 70%; }
.fpgcontainert { float: right; width: 27%; max-height: 100%; overflow: auto; margin-bottom: 5px; background: #FFFFFF; border-radius: 5px; border: 1px solid #DDDDDD; }
.fpgcontainert a { width: 91%;  font-size: 15px; padding: 3px 10px; margin-bottom: 3px; height: 25px; display: block; font-weight: bold; }
.fpgcontainert a:hover { color: #F90909; }
.fpmost-read { margin: 1% 2% 0 0; width: 22%; height: 46.5%; height: 46.5vw; float: right; display: inline-block; background: #FFFFFF; overflow: hidden; border-radius: 5px; border: 1px solid #DDDDDD; }
.fpec { margin: 1% 0 0 2%;  width: 70%; height: 15%; height: 15vw; float: left; display: inline-block; background: #FFFFFF; overflow: hidden; border-radius: 5px; border: 1px solid #DDDDDD; }
.fpec .bx-wrapper .bx-pager { top: -50px; height: 10px; }
.fpec #editorschoice h3, .fpmost-read #mostdiscussed h3 { font-family: Arial,Helvetica,Genericons,sans-serif; font-size: 15px; font-weight: 300; padding: 5px; width: 90%; }
.fpmost-read .bx-wrapper .bx-viewport  { left: -10px; }
.fpmost-read .bx-wrapper li { min-height: 40px; }
.fpgal-image { width: 100%; height: 26%; height: 26vw; }
.fpgallery .bx-wrapper .bx-viewport  { left: -10px; }
.fpgallery .bx-wrapper .bx-caption span { font-size: 15px; text-align: center; padding: 5px 30px 5px 10px; }
.fpec .bx-wrapper .bx-viewport { left: 0; }
.advertisement { width: 100%; display: block; }
.page-link  { font-weight: bold; text-transform: uppercase; font-size: 15px; }
.page-link a { background:#111111; color: #FFFFFF; border-radius: 100px; margin: 0 5px; padding: 7px 12px; }
.page-link a:hover { background:#F90909;}
#right-sidebar li.cat-item, #right-sidebar .menu li { float: left; margin-right: 3%; width: 45%; }
.slider-sidebar { font-size: 13px; line-height: 1.3; }
img.size-full, img.size-large { clear: both; }

/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; 	display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; 	text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }



