/*
 Theme Name:   newspress-lite child
 Theme URI:    https://brasileiro.ca/newspress-lite/
 Description:  My custom API child
 Author:       Daniel Santos
 Author URI:   https://brasileiro.ca
 Template:     newspress-lite
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  newspress-lite
*/

#site-container,
#container,
#newspress-main-menu {
    width: 100%!important;
}
#site-container {
    margin: 0;
    background: transparent;
    box-shadow: unset;
    display: flex;
    flex-direction: column;
}

#site-container .site-title {
    max-width: unset;
    max-height: unset;
}

#newspress-main-menu {
    position: absolute;
    top: 0;
    /* width: 86%; */
}
#header {
    margin-top: 40px;
}

#content {
    width: 100%;
    float: unset;
    padding: 0 10px;
}

@media screen and (max-width: 640px){
    #newspress-main-menu {
        padding: 0;
        width: 97%;
        /* top: 46px; */
    }
}